.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, p {
  font-family: 'Crimson Text', serif;
}

.btn {
  font-size: 20px;
  height: 85px;
  width: 250px;
  margin: 25px auto;
  border: solid 2px lightgray;
  background: none;
  display: block;
  cursor: pointer;
  color: rgb(41, 212, 255);
}

.btn:focus {
  outline:#61dafb;
}

.box {
  margin: 20px;
  width: calc(100vw - 140px);
  height: calc(100% - 135px);
  border: 2px solid lightgray;
  padding: 50px;
}

nav {
  font-size: 24px;
  padding: 25px 50px;
  font-family: 'Crimson Text', serif;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #222;
  background: #143A56;
  color: white;
  height: 35px;
}

.subnav {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 75px);
  background: lightgray;
  padding: 0 75px 0 0;
}

.subnav_links {
  margin: 0 25px;
}

/* a {
  text-decoration: none;
  color: rgb(64, 255, 143);
  justify-content:space-around;
  align-items:center
} */

.link-wrap {
  display: flex;
}

.links {
  margin-right: 50px;
  text-decoration: none;
  color: white;
}

.title {
  text-align: center;
}

.sub_box {
  width: 60%;
  margin: 0 auto;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */