.Header {
    color:aqua;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
    background-color: rgb(32, 30, 30);
    margin: 0;
    border: 0;
    padding: 0;
}

.body {
background-color: red;
height: 800px;
margin: 0;
border: 0;
padding: 0;
display: block;
background-origin: lightgrey;
}

.App {
   
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

.loginContainer {
    background-color:rgb(32, 30, 30);
    position: relative;
    right: 0px;
    top: 50px;
    height: 51px;
    bottom: 0;
    align-items: center;
}

    ul {
        display: none;
    }

    @media(max-width: 550px) {
        .loginContainer {
            display: inline-table;
            height: 42px;

        }
        .Home-btn {
            display: relative;
        }

    }

    @media(max-width: 650px) {
        .Home-btn {
            position: absolute;
            top: 20px;
            left: 10px;
        }
        }

    @media(max-width: 369px) {
        .Home-btn {
            position: absolute;
            top: 40px;
            left: 10px;
        }
    }
    

    .title {
      color: #22c244;
      font-family: 'Risque', cursive;
      font-size: 48px;
      line-height: 55px;
    }


    #reg {
      background: #F5CC59;
      color: #219653;
    }
      
    .welcomeMessage {
      color: rgb(255, 255, 255);
      position:absolute;
      font-size: 25px;
      right: 10px;
      top: 0px;
      display:block;
    }
    
    .welcomeMessage ::first-letter {
      text-transform: capitalize;
    }
  
    h4, h5 {
        font-size: 30px;
        position: relative;
    }

    strong {
        font-size: 30px;
    }

    li {
        display:grid
    }

    h5, p {
        font-size: 30px;
    }
    .navbar-brand {
        top: 90px;
        left: 40px;
        position: relative;
        z-index: 15;
}

    .container {
        top: 30px;
        left: 90px;
    }

    .panel.panel-info {
        position: relative;
        top: 20px;
        left: 40px;
    }

    .build-computer-button-position {
        position: absolute;
        top: 390px;
        left: 100px;
        width: 20px;
    }

    .build-computer-btn {
        height: 80px;
        width: 80px;
        color: yellow;
        height: 30px;
        border-radius: 8px;
        justify-content: space-between;
        background: green;
    }

    .col-xs-6 {
        position: relative;
    }

    .row {
        display:flex;
        position: relative;
        width: 900px;
        left: 90px;
        justify-content: space-between;
    }

    .col-xs-11 {
        align-items: flex-start;
        display: flex;
        position: relative;
    }

    .panel-footer {
        align-items:center;
        margin-bottom: 20px;
    }

    .col-xs-4 {
        font-family:'Times New Roman', Times, serif;
    }
    
    .img-responsive {
        height: 200px;
        width: 200px;
    }

    .button {
        color: yellow;
        height: 30px;
        border-radius: 8px;
        justify-content: space-between;
        background: green;
    }
    .button:hover {
        opacity: 0.9;
        color: purple;
        background: yellow;
    }